.main-frase{
    width: 100%;
    max-width: 80rem;
    padding: 2rem;
    margin-top: 2rem;
    background-color: #ffaa00;
    z-index: 1;
    box-shadow: 0rem 0rem 4rem #000;
    border-radius: 0.5rem;
    span{
        text-align: justify;
        color: #fff;
        font-size: 3rem;
        align-self: flex-start;
    }
    p{
        font-size: 3rem;
        color: #ffff;
    }
    #autor{
        position: relative;
        padding-left: 5rem;
        font-style: italic;
        background: linear-gradient(90deg, rgba(169,166,223,1) 0%, rgba(251,0,247,1) 50%, rgba(0,212,255,1) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-right: 0.4rem;
        &::after{
            content: "";
            width: 4rem;
            height: 0.5rem;
            border-radius: 0.4rem;
            background-color: rgba(251,0,247,1);
            position: absolute;
            z-index: 10;
            left: 2rem;
            top: 50%;
            transform: translate(-50%,-50%);
        }
    }
}
